.header {
  display: grid;
  grid-template-columns: 1fr 260px;
  justify-content: space-between;
  height: 120px;
  margin-bottom: 0;
  background-color: rgba(229, 203, 203, 0.471);
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.intro-block {
  display: grid;
  grid-template-rows: 50px 1fr;
}

.name {
  font-size: 35px;
  color: rgb(102, 9, 9);
  font-weight: bold;
}

.intro-info {
  padding-top: 5px;
  padding-right: 40px;
  color: rgb(77, 76, 76);
}


.personal-info-block {
  padding-left: 20px;
  padding-top: 4px;
}

.profile {
  color: inherit;           /* Use the normal text color */
  text-decoration: none;    /* Remove underline */
  transition: color 0.2s, text-decoration 0.2s;
}

.profile:hover {
  color: rgb(102, 9, 9);     /* Change color on hover */
  
}

.profile, .socials {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}
